body{
    background-color: #C0A27C;
    font-family: 'Jim Nightshade', sans-serif;
}

.general {
    display: flex;
    justify-content: space-between;
}

.div-left {
    width: 33%;
    /* margin-left: 3%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-middle{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-right {
    width: 33%;
    /* margin-right: 4%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 200%;
    width: 33%;
    /* text-wrap: wrap;
    overflow-wrap: break-word; */
}

.subtitle{
    display: flex;
    flex-direction: column;
    line-height: 0.7;
    align-items: center;
    font-size: 150%;
    padding-top: 10%;
}

.main-info{
    font-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.9;
}

.info {
    display: flex;
}

.identifier {
    font-weight: bolder;
}

#story {
    margin-top: 10%;
    font-family: 'Jim Nightshade', sans-serif;
    border-radius: 8px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.5);
    background: none;
    cursor: pointer;
    font-size: 140%;
}

#story:hover {
    text-decoration: underline;
}

#popup.hidden {
    display: none;
}

#popup {
    max-height: 10%;
    overflow-y: auto;
    border: 2px solid black;
    max-width: 45%;
    height: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    font-size: 125%;
}

#popup::-webkit-scrollbar {
  width: 9px; /* largura da barra */
}

/* #popup::-webkit-scrollbar-track {
  background: #402a1f;
  border-radius: 4px;
} */

#popup::-webkit-scrollbar-thumb {
  background-color: #b07a56; /* "bolinha" que você arrasta */
  border-radius: 6px;
  border: 1px solid #402a1f; /* contorno */
}

#popup::-webkit-scrollbar-thumb:hover {
  background-color: #d09b73; /* cor quando passa o mouse */
}

.attributes{
    /* padding-top: 8%; */
    font-size: 175%;
}

.tabela-atributos{
    border: 1px solid black;
    border-collapse: collapse;
}

.tabela-atributos td {
    border: 1px solid black;
    padding: 20px 100px;   /* ↑↓ 10px, ←→ 20px */
    line-height: 1.5;     /* Altura da linha maior */
    text-align: left;
}

.minus-btn, .plus-btn {
    font-family: 'Jim Nightshade', sans-serif;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 150%;
}
