body{
    background-color: #C0A27C;
    font-family: 'Jim Nightshade', sans-serif;
}

.div-left {
    width: 12%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 200%;
    /* text-wrap: wrap;
    overflow-wrap: break-word; */
}

.main-info{
    font-size: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.9;
}

#story {
    margin-top: 10%;
    font-family: 'Jim Nightshade', sans-serif;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 100%;
}
