/* :root {
    --background-image: radial-gradient(farthest-side at 50% 150%, #ffffff, #000000);
    --text-color: rgb(196, 196, 196);
    --primary-color: #007bff;
    --height: 100vh;
}

.sentinelas {
    --background-image: linear-gradient(to top, #4F5AB4, #474A51);
}

.arcanos {
    --background-image: 
} */

body{
    color: var(--text-color);
    background-image: url("/media/ecos.webp");
    background-size: 100%;
    height: var(--height);
    /* transition: background-color 0.3s ease, color 0.3s ease; */
    font-family: 'EB Garamond', sans-serif;
}

.general {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    margin: 2%;
    border: 1px solid white;
    border-radius: 32px;
    width: 25rem;
    height: 4rem;
}

.nav-bar-btn {
    border-radius: 50%;
    border: none;
    background: none;
    padding: 7px;
}

.nav-bar-btn:hover {
    cursor: pointer;
}

.profile {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
    
    margin: 2%;
    border: 1px solid white;
    border-radius: 24px;
    width: 80rem;
    height: 35rem;
}
